<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bookAccount.BookAccountDAO">
  		
  		<!-- 
  			>> MemberDTO(id)와 Pager(범위)를 받기 위해 Map안에 2개를 넣었다. <<
  			 1. List에서 총 몇개씩 보여줄지 정함 (startRow, lastRow)
  			 2. 로그인 한 사용자의 세부내용이니 Member의 ID를 받아오고 resultType을 세부내용을 담을 BookAccountDTO 설정.
  		  -->
  		<select id="getList" parameterType="Map" resultType="BookAccountDTO">
  			SELECT * FROM 
	  			(SELECT ROWNUM R, A.* FROM
		  			(SELECT * FROM BOOKACCOUNT 
		  			WHERE ID = #{member.id}
		  			ORDER BY ACCOUNTNUM DESC ) 
		  			A 
		  		)
  			WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  		</select>
  		
  		
  		<!-- 1_2. total : List의 하단 페이지 번호, 몇개의 list로 1block 생성 -->
	  	<select id="getTotal" resultType="Long">
	  		SELECT COUNT(ACCOUNTNUM) FROM BOOKACCOUNT
	  	</select>
		
	
		<!-- 2. Detail : 일련번호를 통해 상세내용 확인 -->
		<select id="getDetail" parameterType="BookAccountDTO" resultType="BookAccountDTO">
			SELECT BA.* FROM BOOKACCOUNT BA
			WHERE ACCOUNTNUM = #{accountNum}
		</select>
		
		
		<!-- 3. Add :  -->
		<insert id="setAdd" parameterType="BookAccountDTO" >
			<!-- <selectKey keyProperty="accountNum" resultType="Long" order="BEFORE">
				SELECT BA_SEQ.NEXTVAL FROM DUAL
			</selectKey> -->
			INSERT INTO BOOKACCOUNT (ACCOUNTNUM, ID, BOOKNUM, ACCOUNT, ACCOUNTPASSWORD, ACCOUNTBALANCE, ACCOUNTDATE)
			VALUES (BA_SEQ.NEXTVAL, #{id}, #{bookNum}, #{account}, #{accountPassword}, #{accountBalance}, SYSDATE)
		</insert>
		
		
  		<!-- 4. Update : 비밀번호, 잔액 수정 -->
  		<update id="setUpdate" parameterType="BookAccountDTO">
  			UPDATE BOOKACCOUNT
  			SET ACCOUNTPASSWORD=#{accountPassword}, ACCOUNTBALANCE=#{accountBalance}
  			WHERE ACCOUNTNUM = #{accountNum}
  		</update>
  		
  		
  		<!-- 5. Delete : 잔액있을 때는 삭제 불가 -->
  		<delete id="setDelete" parameterType="BookAccountDTO">
  			DELETE BOOKACCOUNT
  			WEHRE ACCOUNTNUM=#{accountNum} AND ACCOUNTBALANCE=0;
  		</delete>	
  		
  </mapper>