<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.notice.NoticeDAO">
  		<select id="getList" resultType="NoticeDTO">
  			SELECT * FROM 
				(SELECT ROWNUM R, B.* FROM
					(
							SELECT * FROM NOTICE 
							WHERE NOTICENUM>0
								AND
								<choose>
									<when test="kind == 'name'">
										NOTICENAME LIKE #{search}
									</when>
									<when test="kind == 'title'">
										NOTICETITLE LIKE #{search}
									</when>
									<otherwise>
										NOTICECONTENTS LIKE #{search}
									</otherwise>
								</choose>
							
							
							ORDER BY NOTICENUM ASC
					) B
				)
			WHERE R BETWEEN ${startRow} AND ${lastRow}
  		</select>
  		
  		<!-- total -->
  		<select id="getTotal" resultType="Long">
  			SELECT COUNT(NOTICENUM) FROM NOTICE
  			WHERE NOTICENUM>0
				AND
			<choose>
				<when test="kind == 'name'">
					NOTICENAME LIKE #{search}
				</when>
				<when test="kind == 'title'">
					NOTICETITLE LIKE #{search}
				</when>
				<otherwise>
					NOTICECONTENTS LIKE #{search}
				</otherwise>
			</choose>
  		</select>
  		
  		<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
  			SELECT * FROM NOTICE WHERE NOTICENUM=#{noticeNum}
  		</select>
  		
  		<insert id="setAdd" parameterType="NoticeDTO">
  			INSERT INTO NOTICE VALUES (NOTICE_SEQ.NEXTVAL, #{noticeName}, #{noticeTitle}, #{noticeContents}, SYSDATE ,0)
  		</insert>
  		
  		<update id="setUpdate" parameterType="NoticeDTO">
  			UPDATE NOTICE
  			SET NOTICETITLE=#{noticeTitle}, NOTICECONTENTS=#{noticeContents}
  			WHERE NOTICENUM=#{noticeNum}
  		</update>
  		
  		<delete id="setDelete" parameterType="NoticeDTO">
  			DELETE NOTICE WHERE NOTICENUM=#{noticeNum}
  		</delete>
  </mapper>
