<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.qna.QnaDAO">
  	
  	<sql id="searchSql">
  		WHERE NUM>0
  		AND
  			<choose>
  				<when test="kind=='name'">
  					NAME LIKE #{search}
  				</when>
  				<when test="kind=='title'">
  					SUBJECT LIKE #{search}
  				</when>
  				<otherwise>
  					CONTENTS LIKE #{search}
  				</otherwise>
  			</choose>
  	</sql>
  	
  	
  	<!-- List  -->
  	<select id="getList" resultType="QnaDTO">
  		SELECT * FROM
	  		(SELECT ROWNUM R, B.* FROM
		  		(
			  		SELECT * FROM QNA 
			  		<include refid="searchSql"></include>
			  		ORDER BY NUM 
		  		) B
	  		)
	  	WHERE R BETWEEN ${startRow} AND ${lastRow}
  	</select>

  	
  	
  	<!-- total = Pager -->
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NUM) FROM QNA
  		<include refid="searchSql"></include>
  	</select>
  	
  	
  	
  	
  	<insert id="setAdd" parameterType="QnaDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA
  		VALUES (#{num}, #{name}, #{subject}, #{contents}, SYSDATE, 0, 0, 0, 0)
  	</insert>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  </mapper>
