<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.qna.QnaDAO">
  	
  	<sql id="searchSql">
  		WHERE NUM>0
  		AND
  			<choose>
  				<when test="kind=='name'">
  					NAME LIKE #{search}
  				</when>
  				<when test="kind=='title'">
  					SUBJECT LIKE #{search}
  				</when>
  				<otherwise>
  					CONTENTS LIKE #{search}
  				</otherwise>
  			</choose>
  	</sql>
  	
  	
  	<!-- List  -->
  	<select id="getList" resultType="QnaDTO">
  		SELECT * FROM
	  		(SELECT ROWNUM R, B.* FROM
		  		(
			  		SELECT * FROM QNA 
			  		<include refid="searchSql"></include>
			  		ORDER BY REF DESC, STEP ASC
		  		) B
	  		)
	  	WHERE R BETWEEN ${startRow} AND ${lastRow}
  	</select>

  	
  	
  	<!-- total = Pager -->
  	<select id="getTotal" resultType="Long">
  		SELECT COUNT(NUM) FROM QNA
  		<include refid="searchSql"></include>
  	</select>
  	
  	
  	
  	<!-- 게시물등록 add -->
  	<insert id="setAdd" parameterType="QnaDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA
  		VALUES (#{num}, #{name}, #{subject}, #{contents}, SYSDATE, 0, #{num}, 0, 0)
  	</insert>
  	
  	<insert id="setFileAdd" parameterType="QnaFileDTO">
  		INSERT INTO QNAFILE (FILENUM, NUM, FILENAME, ORIGINALNAME)
  		VALUES (NF_SEQ.NEXTVAL, #{num}, #{fileName}, #{originalName})
  	</insert>
  	
  	
  	<update id="setStepUpdate" parameterType="QnaDTO">
  		UPDATE QNA
  		SET STEP = STEP+1
  		WHERE REF = #{ref} 
  		AND STEP > #{step}
  	</update>
  	
  
  	
  	<insert id="setReplyAdd" parameterType="QnaDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA (NUM, NAME, SUBJECT, CONTENTS, CREATEDATE, HIT, REF, STEP, DEPTH)
  		VALUES (#{num},#{name}, #{subject}, #{contents}, SYSDATE, 0, #{ref}, #{step}, #{depth})
  	</insert>
  	
  
  	<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">	
  			SELECT Q.*, QF.*
  			FROM QNA Q
  			LEFT OUTER JOIN
  			QNAFILE QF
  			ON(Q.NUM = QF.NUM)
  			WHERE Q.NUM=#{num}	
  	</select>
    <resultMap type="QnaDTO" id="getDetailResult">
  			<id column = "NUM" property="num"/>
  			<result column="NAME" property="name"/>
 			<result column="SUBJECT" property="subject"/>		
 			<result column="CONTENTS" property="contents"/>	
 			<result column="NOTICEDATE" property="createDate"/>	
 			<result column="HIT" property="hit"/>	
 			<result column="REF" property="ref"/>
 			<result column="STEP" property="step"/>
 			<result column="DEPTH" property="depth"/>
 			
 			<!-- N개의 noticefileDTO -->
			<collection property="fileDTOs" javaType="List" ofType="QnaFileDTO">
				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORIGINALNAME" property="originalName"/>
			</collection>
  		</resultMap> 
  	
  	
  	<update id="setUpdate" parameterType="QnaDTO">
  		UPDATE QNA
  		SET SUBJECT=#{subject}, CONTENTS=#{contents}
  		WHERE NUM=#{num} AND NAME = #{name}
  	</update>
  	
  	
  	<delete id="setDelete" parameterType="Map">
  			DELETE QNA WHERE NUM=#{num} AND NAME = #{name}
  	</delete>
  	
  	
  	
  	<!-- 수정 중 파일 삭제 -->
    <!-- 1. fileNum으로 fileName을 조회하기 -->
    <select id="getFileDetail" parameterType="QnaFileDTO" resultType="QnaFileDTO">
       SELECT FILENUM, FILENAME FROM QNAFILE WHERE FILENUM =#{fileNum}
    </select>
    
    <!-- 2. DB 삭제 -->
    <delete id="setFileDelete" parameterType="QnaFileDTO">
       DELETE QNAFILE WHERE FILENUM =#{fileNum}
    </delete>
  	
  	
  	
  	
  	
  </mapper>
