<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.main.student.StudentDAO">
    	<!-- DAO의 메서드명과 동일(id) -->
    	<select id="getList" resultType="com.iu.main.student.StudentDTO">
    		SELECT STUDNUM, STUDNAME, AVG FROM STUDENT ORDER BY STUDNUM DESC
    	</select>
    	
    	<select id="getDetail" parameterType="com.iu.main.student.StudentDTO" resultType="com.iu.main.student.StudentDTO">
    		SELECT * FROM STUDENT WHERE STUDNUM=#{studNum}
    	</select>
    	
    	<insert id="setAdd" parameterType="com.iu.main.student.StudentDTO">
    		INSERT INTO STUDENT
    		VALUES(STUDENT_SEQ.NEXTVAL, #{studName}, #{kor}, #{eng}, #{math}, #{total}, #{avg})
    	</insert>
    	
    	<delete id="setDelete" parameterType="com.iu.main.student.StudentDTO">
    		DELETE SUTDNET WHERE STUDNUM=#{studNum}
    	</delete>
    	
    	<update id="setUpdate" parameterType="com.iu.main.student.StudentDTO">
    		UPDATE STUDENT
    		SET STUDNAME=#{studName}, KOR=#{kor}, ENG=#{eng}, MATH=#{math}, TOTAL=#{total}, AVG=#{avg}
    		WHERE STUDNUM=#{studNum}
    	</update>
    </mapper>